MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/classes/g/MAIL_MQ/c26_mail_to_mq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:pop3s="http://www.mulesoft.org/schema/mule/pop3s" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:imap="http://www.mulesoft.org/schema/mule/imap" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/current/mule-pop3.xsd
http://www.mulesoft.org/schema/mule/pop3s http://www.mulesoft.org/schema/mule/pop3s/current/mule-pop3s.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">

    <flow name="C26_Mail_to_MQ_Sync">
        <pop3s:inbound-endpoint host="${pop.host}" port="${pop.port}" user="${pop.user}" password="${pop.password}" connector-ref="POP3" responseTimeout="1000000" doc:name="Get Emails"/>
        <set-payload value="#[org.apache.commons.io.IOUtils.toByteArray(message.inboundAttachments.get(&quot;attach.json&quot;).getInputStream());]" encoding="utf-8" mimeType="application/json" doc:name="Get Attachment"/>
        <byte-array-to-object-transformer mimeType="application/json" doc:name="Attachment to JSON"/>
     <!--    <http:listener config-ref="ToyotaPOC_Listener" path="/C26" doc:name="HTTP"/> -->
      <!--   <imap:inbound-endpoint host="${imap.host}" port="${imap.port}" user="${imap.user}" password="${imap.password}" connector-ref="IMAP" responseTimeout="10000" doc:name="IMAP"/> -->
        <vm:outbound-endpoint exchange-pattern="one-way" path="c26.queue.sync" doc:name="Save Message in Queue"/>
    </flow>
    <flow name="C26_Mail_To_MQ_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/40 * 1/1 * ? *"/>
            <mulerequester:request resource="pop://snoopbfprueba@gmail.com;auth=Snoop2018@pop.gmail.com:995" doc:name="Mule Requester"/>
        </poll>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
