MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/classes/BUSINESS_CASES/P03/workflow-03a.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="workflow-03aFlow">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/44 * 1/1 * ? *"/>
            <logger message="Workflow A Started" level="INFO" doc:name="Log Start Processing"/>
        </poll>
        <set-variable variableName="query" value="#['SELECT * FROM conexiones']" doc:name="Set DB Query"/>
        <set-variable variableName="queue" value="conexiones.queue" doc:name="Set MQ"/>
        <flow-ref name="P03-DB_To_MQ_AbstractFlow" doc:name="Trigger Execution Ref"/>
    </flow>
</mule>
