MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/g/MAIL_MQ/c25_mq_to_mail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C25_MQ_to_Mail_Sync">
        <vm:inbound-endpoint exchange-pattern="one-way" path="c26.queue.sync" doc:name="Get Message From Queue"/>
        <flow-ref name="C25_SendMail_Subflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C25_MQ_to_Mail_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/39 * 1/1 * ? *"/>
            <mulerequester:request resource="vm://c26.queue.async" doc:name="Get Message From Queue"/>
        </poll>
        <flow-ref name="C25_SendMail_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C25_SendMail_Subflow">
        <set-attachment attachmentName="attach.json" value="#[payload]" contentType="application/json" doc:name="Set Attachment"/>
        <set-payload value="Case 25 - MQ to Mail" doc:name="Set Body"/>
        <smtps:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" to="${smtp.to}" from="${smtp.from}" subject="${smtp.subject}" responseTimeout="10000" doc:name="Send Mail"/>
    </sub-flow>
</mule>
