MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/classes/c/DB_REST/c13_dbrecord_to_ws_messages.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C13_Sync">
        <poll doc:name="Polling">
            <fixed-frequency-scheduler frequency="30" startDelay="30" timeUnit="SECONDS"/>
            <db:select config-ref="MySQL_Database" doc:name="Get ResultSet">
                <db:parameterized-query><![CDATA[SELECT *
FROM flights]]></db:parameterized-query>
            </db:select>
        </poll>
        <flow-ref name="C13_Transform_and_InvokeREST_Subflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C13_Async">
        <poll doc:name="Cron">
            <schedulers:cron-scheduler expression="0 0/27 * 1/1 * ? *"/>
            <db:select config-ref="MySQL_Database" doc:name="Get ResultSet">
                <db:parameterized-query><![CDATA[SELECT *
FROM flights]]></db:parameterized-query>
            </db:select>
        </poll>
        <flow-ref name="C13_Transform_and_InvokeREST_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C13_Transform_and_InvokeREST_Subflow">
        <foreach collection="#[payload]" doc:name="For Each Record">
            <dw:transform-message doc:name="Transform Java Object to WS Rest Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	airlineName: payload.airlineName,
	code: payload.code,
	departureDate: payload.departureDate,
	destination: payload.destination,
	emptySeats: payload.emptySeats,
	id: payload.id,
	origin: payload.origin,
	planeType: payload.planeType,
	price: payload.price
}]]></dw:set-payload>
            </dw:transform-message>
            <http:request config-ref="ToyotaPOC_REST_WS" path="/test" method="POST" doc:name="Invoke REST Service"/>
            <logger message="#['\n==================================\n']RECORD #[flowVars.counter]: #['\n' + message.payloadAs(java.lang.String)]#['\n==================================\n']" level="INFO" doc:name="Log Response"/>
        </foreach>
    </sub-flow>
</mule>
