MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/classes/c/DB_REST/c14_ws_rest_records_to_db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C14_Sync">
        <http:listener config-ref="ToyotaPOC_Listener" path="/C14" allowedMethods="GET" doc:name="Trigger Execution"/>
        <http:request config-ref="Flights_WS_REST" path="/essentials/united/flights" method="GET" doc:name="Invoke REST Service"/>
        <flow-ref name="C15_Insert_Records_Subflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C14_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/28 * 1/1 * ? *"/>
            <http:request config-ref="Flights_WS_REST" path="/essentials/united/flights" method="GET" doc:name="Invoke REST Service"/>
        </poll>
        <flow-ref name="C15_Insert_Records_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C15_Insert_Records_Subflow">
        <dw:transform-message doc:name="Transform to Java Array">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.flights]]></dw:set-payload>
        </dw:transform-message>
        <foreach collection="#[payload]" doc:name="For Each Record">
            <db:insert config-ref="MySQL_Database" doc:name="Insert Record To DB">
                <db:parameterized-query><![CDATA[INSERT INTO flights (code,price,origin,destination,departureDate,airlineName,planeType,emptySeats) VALUES (#[payload.code],#[payload.price],#[payload.origin],#[payload.destination],#[payload.departureDate],#[payload.airlineName],#[payload.planeType],#[payload.emptySeats])]]></db:parameterized-query>
            </db:insert>
        </foreach>
    </sub-flow>
</mule>
