MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/d/DB_SOAP/c16_db_to_ws_soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C16_Sync">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="30" startDelay="30" timeUnit="SECONDS"/>
            <db:select config-ref="SQL_Server_Database" doc:name="Get ResultSet - One Record">
                <db:parameterized-query><![CDATA[SELECT *
FROM flights
WHERE id = 1]]></db:parameterized-query>
            </db:select>
        </poll>
        <flow-ref name="C16_Invoke_SOAP_and_Transform_Subflow" doc:name="Flow Reference"/>

    </flow>
    <flow name="C16_Async">
        <poll doc:name="Cron">
            <schedulers:cron-scheduler expression="0 0/30 * 1/1 * ? *"/>
            <db:select config-ref="SQL_Server_Database" doc:name="Get ResultSet - One Record">
                <db:parameterized-query><![CDATA[SELECT *
FROM flights
WHERE id = 1]]></db:parameterized-query>
            </db:select>
        </poll>
        <flow-ref name="C16_Invoke_SOAP_and_Transform_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C16_Invoke_SOAP_and_Transform_Subflow">
        <dw:transform-message doc:name="Generate SOAP Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: payload[0].destination
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="DeltaFlights_WSDL" operation="findFlight" doc:name="Invoke SOAP Service"/>
        <dw:transform-message doc:name="Transform Response" metadata:id="3f71ae3e-a0dc-43d7-aebc-59f85109523b">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlightResponse: {
		(payload.ns0#findFlightResponse.*return map ((return , indexOfReturn) -> {
			return: {
				airlineName: return.airlineName,
				code: return.code,
				departureDate: return.departureDate,
				destination: return.destination,
				emptySeats: return.emptySeats,
				origin: return.origin,
				planeType: return.planeType,
				price: return.price
			}
		}))
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#['\n==================================\n']RECORDS: #['\n' + message.payloadAs(java.lang.String)]#['\n==================================\n']" level="INFO" doc:name="Log Response"/>
    </sub-flow>
</mule>
