MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/d/DB_SOAP/c19_ws_soap_records_to_db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C19_Sync">
        <http:listener config-ref="ToyotaPOC_Listener" path="/C19" allowedMethods="GET" doc:name="Trigger Execution"/>
        <ws:consumer config-ref="DeltaFlights_WSDL" operation="listAllFlights" doc:name="Invoke SOAP Service"/>
        <flow-ref name="C19_Insert_Records_Subflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C19_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/33 * 1/1 * ? *"/>
            <ws:consumer config-ref="DeltaFlights_WSDL" operation="listAllFlights" doc:name="Invoke SOAP Service"/>
        </poll>
        <flow-ref name="C19_Insert_Records_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C19_Insert_Records_Subflow">
        <dw:transform-message doc:name="Transform Message" metadata:id="34b8608b-f060-4464-8d2b-5042a5fc8c0c">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#listAllFlightsResponse.*return map ((return , indexOfReturn) -> {
	airlineName: return.airlineName,
	code: return.code,
	departureDate: return.departureDate,
	destination: return.destination,
	emptySeats: return.emptySeats as :number,
	origin: return.origin,
	planeType: return.planeType,
	price: return.price as :number
})]]></dw:set-payload>
        </dw:transform-message>
        <foreach collection="#[payload]" doc:name="For Each Record">
            <db:insert config-ref="SQL_Server_Database" doc:name="Insert Record To DB">
                <db:parameterized-query><![CDATA[INSERT INTO flights (code,price,origin,destination,departureDate,airlineName,planeType,emptySeats) VALUES (#[payload.code],#[payload.price],#[payload.origin],#[payload.destination],#[payload.departureDate],#[payload.airlineName],#[payload.planeType],#[payload.emptySeats])]]></db:parameterized-query>
            </db:insert>
        </foreach>
    </sub-flow>
</mule>
