MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/d/DB_SOAP/c20_ws_soap_messages_to_db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C20_Sync">
        <http:listener config-ref="ToyotaPOC_Listener" path="/C20" allowedMethods="GET" doc:name="Trigger Execution"/>
        <ws:consumer config-ref="DeltaFlights_WSDL" operation="listAllFlights" doc:name="Invoke SOAP Service"/>
        <dw:transform-message doc:name="Transform to Java Array" metadata:id="646f1686-70eb-4fbe-8340-7d1c3e9b59bb">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#listAllFlightsResponse.*return]]></dw:set-payload>
        </dw:transform-message>
        <vm:outbound-endpoint exchange-pattern="one-way" path="c20.queue" doc:name="Save Message in Queue"/>
    </flow>
    <flow name="C20_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/34 * 1/1 * ? *"/>
            <mulerequester:request-collection resource="vm://c20.queue" doc:name="Get all queued messages"/>
        </poll>
        <dw:transform-message doc:name="Prepare Final Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
flatten payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="query" value="#[&quot;&quot;]" doc:name="Create Query Variable"/>
        <foreach collection="#[payload]" doc:name="For Each Record">
            <dw:transform-message doc:name="Add Record to Query">
                <dw:set-variable variableName="query"><![CDATA[%dw 1.0
%output application/java
---
flowVars.query ++ "INSERT INTO flights (code,price,origin,destination,departureDate,airlineName,planeType,emptySeats) VALUES ('" ++ payload.code ++ "'," ++ payload.price ++ ",'" ++ payload.origin ++ "','" ++ payload.destination ++ "','" ++ payload.departureDate ++ "','" ++ payload.airlineName ++ "','" ++ payload.planeType ++ "'," ++ payload.emptySeats ++ ");\n"]]></dw:set-variable>
            </dw:transform-message>
        </foreach>
        <db:bulk-execute config-ref="SQL_Server_Database" doc:name="Insert Records into DB"><![CDATA[#[flowVars.query]]]></db:bulk-execute>
    </flow>
</mule>
