MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/classes/h/DB_MQ/c28_db_to_mq_plain_recods.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="C28_Sync">
        <poll doc:name="Polling">
            <fixed-frequency-scheduler frequency="30" startDelay="30" timeUnit="SECONDS"/>
            <db:select config-ref="SQL_Server_Database" doc:name="Get Result Set">
                <db:parameterized-query><![CDATA[SELECT * 
FROM flights
WHERE id BETWEEN 1 AND 10]]></db:parameterized-query>
            </db:select>
        </poll>
        <set-variable variableName="queue" value="#['c28.sync.queue']" doc:name="Set Queue"/>
        <flow-ref name="C28_Parse_And_Queue_Subflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C28_Async">
        <poll doc:name="Cron">
            <schedulers:cron-scheduler expression="0 0/42 * 1/1 * ? *"/>
            <db:select config-ref="SQL_Server_Database" doc:name="Get Result Set">
                <db:parameterized-query><![CDATA[SELECT * 
FROM flights
WHERE id BETWEEN 1 AND 10]]></db:parameterized-query>
            </db:select>
        </poll>
        <set-variable variableName="queue" value="#['c28.async.queue']" doc:name="Set Queue"/>
        <flow-ref name="C28_Parse_And_Queue_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C28_Parse_And_Queue_Subflow">
        <dw:transform-message doc:name="Parse Records" metadata:id="87631f6b-de51-470b-9dc0-67f1bffec0d1">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
		code: payload01.code,
		price: payload01.price,
		origin: payload01.origin,
		destination: payload01.destination,
		departureDate: payload01.departureDate,
		airlineName: payload01.airlineName,
		planeType: payload01.planeType,
		emptySeats: payload01.emptySeats
	})]]></dw:set-payload>
        </dw:transform-message>
        <vm:outbound-endpoint exchange-pattern="one-way" path="#[flowVars.queue]" doc:name="Save Array in Queue"/>
    </sub-flow>
</mule>
