MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/b/FILE_SOAP/c7_ws_soap_to_file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    
    <flow name="C7_Sync">
        <http:listener config-ref="ToyotaPOC_Listener" path="/C7" allowedMethods="GET" doc:name="Trigger Execution"/>
        <ws:consumer config-ref="DeltaFlights_WSDL" operation="listAllFlights" doc:name="Invoke SOAP Service"/>
        <flow-ref name="C7_Transform_and_Write_Subflow" doc:name="Flow Reference"/>

    </flow>
    <flow name="C7_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/21 * 1/1 * ? *"/>
            <ws:consumer config-ref="DeltaFlights_WSDL" operation="listAllFlights" doc:name="Invoke SOAP Service"/>

        </poll>
        <flow-ref name="C7_Transform_and_Write_Subflow" doc:name="Flow Reference"/>

    </flow>
    <sub-flow name="C7_Transform_and_Write_Subflow">
        <dw:transform-message doc:name="Transform to CSV" metadata:id="4b76e006-e70c-4238-869b-9e583a9d6b2e">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#listAllFlightsResponse.*return map ((return , indexOfReturn) -> {
	code: return.code,
	price: return.price as :string,
	origin: return.origin,
	destination: return.destination,
	departureDate: return.departureDate,
	airlineName: return.airlineName,
	planeType: return.planeType,
	emptySeats: return.emptySeats as :string
})]]></dw:set-payload>
        </dw:transform-message>
        <file:outbound-endpoint path="${outputFolder}/c7/" outputPattern="${c2.filename}#[server.dateTime.format('yyyy-MM-dd')].csv" responseTimeout="10000" doc:name="Write CSV File"/>
    </sub-flow>
</mule>
