MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/a/FILE_REST/c1_file_to_ws_rest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C1_Sync">
        <file:inbound-endpoint path="${inputFolder}/c1/" pollingFrequency="30000" responseTimeout="10000" doc:name="Read File Sync"/>
        <dw:transform-message doc:name="Transform to WS Rest Messages (Array)">
            <dw:input-payload mimeType="application/csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	client_id: payload01.client_id,
	client_name: payload01.client_name,
	client_country: payload01.client_country
})]]></dw:set-payload>
        </dw:transform-message>
        <flow-ref name="C1_Invoke_REST_Service_SubFlow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C1_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/15 * 1/1 * ? *"/>
            <mulerequester:request resource="file://${inputFolder}/c1/${c1.filename}.csv?connector=file-connector-config" doc:name="Read CSV File"/>
        </poll>
        <dw:transform-message doc:name="Transform to WS Rest Message (Array)">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload splitBy "\r\n" map {
	client_id: ($ splitBy ",")[0],
	client_name: ($ splitBy ",")[1],
	client_country: ($ splitBy ",")[2]
} filter ($.client_id != "client_id")]]></dw:set-payload>
            <dw:set-variable variableName="originalPayload"><![CDATA[%dw 1.0
%output application/csv
---
payload splitBy "\r\n" map {
	client_id: ($ splitBy ",")[0],
	client_name: ($ splitBy ",")[1],
	client_country: ($ splitBy ",")[2]
} filter ($.client_id != "client_id")]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="C1_Invoke_REST_Service_SubFlow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C1_Invoke_REST_Service_SubFlow">
        <http:request config-ref="ToyotaPOC_REST_WS" path="/test" method="POST" doc:name="Invoke REST Service"/>
        <logger message="#['\n==================================\n']RECORDS: #['\n' + message.payloadAs(java.lang.String)]#['\n==================================\n']" level="INFO" doc:name="Log Response"/>
    </sub-flow>
</mule>
