MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/a/FILE_REST/c4_ws_rest_records_to_files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C4_Sync">
        <http:listener config-ref="ToyotaPOC_Listener" path="/C4" allowedMethods="GET" doc:name="Trigger Execution"/>
        <http:request config-ref="Flights_WS_REST" path="/essentials/united/flights" method="GET" doc:name="Invoke REST Service" metadata:id="f2aa8474-df11-4eac-9f86-e83a7387a651"/>
        <flow-ref name="C4_Transform_And_Write_Subflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C4_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/18 * 1/1 * ? *"/>
            <http:request config-ref="Flights_WS_REST" path="/essentials/united/flights" method="GET" doc:name="Invoke REST Service"/>
        </poll>
        <flow-ref name="C4_Transform_And_Write_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C4_Transform_And_Write_Subflow">
        <dw:transform-message doc:name="Transform to Java Array" metadata:id="26fe617b-8074-4191-b637-774c32be9a73">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.flights]]></dw:set-payload>
        </dw:transform-message>
        <foreach collection="#[payload]" doc:name="For Each Record">
            <dw:transform-message doc:name="Transform Object to CSV" metadata:id="4b76e006-e70c-4238-869b-9e583a9d6b2e">
                <dw:input-payload/>
                <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
[{
	code: payload.code,
	price: payload.price,
	origin: payload.origin,
	destination: payload.destination,
	departureDate: payload.departureDate,
	airlineName: payload.airlineName,
	planeType: payload.planeType,
	emptySeats: payload.emptySeats
}]
]]></dw:set-payload>
            </dw:transform-message>
            <file:outbound-endpoint path="${outputFolder}/c4/" outputPattern="${c2.filename}#[server.dateTime.format('yyyy-MM-dd')]_#[flowVars.counter].csv" responseTimeout="10000" doc:name="Write CSV File"/>
        </foreach>
    </sub-flow>
</mule>
