MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/classes/d/DB_SOAP/c17_ws_soap_to_db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    
    <flow name="C17_Sync">
        <http:listener config-ref="ToyotaPOC_Listener" path="/C17" allowedMethods="GET" doc:name="Trigger Execution"/>
        <ws:consumer config-ref="DeltaFlights_WSDL" operation="listAllFlights" doc:name="Invoke SOAP Service"/>
        <flow-ref name="C17_BulkInsert_Subflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C17_Async">
        <poll doc:name="Poll">
            <schedulers:cron-scheduler expression="0 0/31 * 1/1 * ? *"/>
            <ws:consumer config-ref="DeltaFlights_WSDL" operation="listAllFlights" doc:name="Invoke SOAP Service"/>

        </poll>
        <flow-ref name="C17_BulkInsert_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C17_BulkInsert_Subflow">
        <dw:transform-message doc:name="Transform to Java Array" metadata:id="8551270c-660e-4827-b2dc-d9dd594f5a6a">
            <dw:input-payload doc:sample="sample_data\listAllFlightsResponse_1.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#listAllFlightsResponse.*return map ((return , indexOfReturn) -> {
	code: return.code,
	price: return.price as :string,
	origin: return.origin,
	destination: return.destination,
	departureDate: return.departureDate,
	airlineName: return.airlineName,
	planeType: return.planeType,
	emptySeats: return.emptySeats as :string
})]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="query" value="#[&quot;&quot;]" doc:name="Create Query Variable"/>
        <foreach collection="#[payload]" doc:name="For Each Record">
            <dw:transform-message doc:name="Add Record to Query">
                <dw:set-variable variableName="query"><![CDATA[%dw 1.0
%output application/java
---
flowVars.query ++ "INSERT INTO flights (code,price,origin,destination,departureDate,airlineName,planeType,emptySeats) VALUES ('" ++ payload.code ++ "'," ++ payload.price ++ ",'" ++ payload.origin ++ "','" ++ payload.destination ++ "','" ++ payload.departureDate ++ "','" ++ payload.airlineName ++ "','" ++ payload.planeType ++ "'," ++ payload.emptySeats ++ ");\n"]]></dw:set-variable>
            </dw:transform-message>
        </foreach>
        <db:bulk-execute config-ref="SQL_Server_Database" doc:name="Insert Records into DB"><![CDATA[#[flowVars.query]]]></db:bulk-execute>
    </sub-flow>
</mule>
