MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/c/DB_REST/c11_db_to_wsrest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C11_Sync">
        <poll doc:name="Polling">
            <fixed-frequency-scheduler frequency="30" startDelay="30" timeUnit="SECONDS"/>
            <db:select config-ref="MySQL_Database" doc:name="Get Result Set">
                <db:parameterized-query><![CDATA[SELECT *
FROM flights]]></db:parameterized-query>
            </db:select>
        </poll>
        <flow-ref name="C11_Transform_and_InvokeREST_Subflow" doc:name="Flow Reference"/>

    </flow>
    
   
    <flow name="C11_Async">
        <poll doc:name="Cron">
            <schedulers:cron-scheduler expression="0 0/25 * 1/1 * ? *"/>
            <db:select config-ref="MySQL_Database" doc:name="Get Result Set">
                <db:parameterized-query><![CDATA[SELECT *
FROM flights]]></db:parameterized-query>
            </db:select>
        </poll>
        <flow-ref name="C11_Transform_and_InvokeREST_Subflow" doc:name="Flow Reference"/>

    </flow>
    <sub-flow name="C11_Transform_and_InvokeREST_Subflow">
        <dw:transform-message doc:name="Transform to WS Rest Message (Array)" metadata:id="d662d663-8fc9-4b4e-9846-03f755d4449f">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	airlineName: payload01.airlineName,
	code: payload01.code,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	emptySeats: payload01.emptySeats,
	id: payload01.id,
	origin: payload01.origin,
	planeType: payload01.planeType,
	price: payload01.price
})]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="ToyotaPOC_REST_WS" path="/test" method="POST" doc:name="Invoke REST Service"/>
        <logger message="#['\n==================================\n']RECORDS: #['\n' + message.payloadAs(java.lang.String)]#['\n==================================\n']" level="INFO" doc:name="Log Response"/>
    </sub-flow>
</mule>
