MULESOFT-ESB/proyecto Toyota POC/toyota_poc_2018_FINAL/h/DB_MQ/c27_mq_to_db_plain_records.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="C27_Sync">
        <vm:inbound-endpoint exchange-pattern="one-way" path="c28.sync.queue" doc:name="Get Queued Message"/>
        <flow-ref name="C27_Insert_Records_Subflow" doc:name="Flow Reference"/>
    </flow>
    <flow name="C27_Async">
        <poll doc:name="Cron">
            <schedulers:cron-scheduler expression="0 0/41 * 1/1 * ? *"/>
            <mulerequester:request resource="vm://c28.async.queue" doc:name="Mule Requester"/>
        </poll>
        <flow-ref name="C27_Insert_Records_Subflow" doc:name="Flow Reference"/>
    </flow>
    <sub-flow name="C27_Insert_Records_Subflow">
        <foreach collection="#[payload]" doc:name="For Each Record">
            <db:insert config-ref="SQL_Server_Database" doc:name="Insert To DB">
                <db:parameterized-query><![CDATA[INSERT INTO flights (code,price,origin,destination,departureDate,airlineName,planeType,emptySeats) VALUES (#[payload.code],#[payload.price],#[payload.origin],#[payload.destination],#[payload.departureDate],#[payload.airlineName],#[payload.planeType],#[payload.emptySeats])]]></db:parameterized-query>
            </db:insert>
        </foreach>
    </sub-flow>
</mule>
